.contenedor{
    color: white;
    display: grid;
    grid-gap: 20px;
    /* facilita repetir el mismo parametro  */
    grid-template-columns: 200px repeat(6, 1fr);

    grid-template-rows: repeat(3, 1fr);
}