.contenedor{
    color: white;
    display: grid;
    grid-gap: 20px;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.contenedor .item {
    background-color: #ff8000;

    /* organiza el posicionamiento */

    grid-column-start: 1;
    grid-column-end: 4;

    /*? ----------------------------------------------- */
    /* donde comienza*/
        /* grid-column-start: 1; */
    /* donde termina, ocupa los elememtos */
        /* grid-column-end: 5; */
    /*? ------------------------------------------------- */

    /*? acepta numeros negativos, que tomando valores del final de la fila */
        /* grid-column-start: 1; */
        /* grid-column-end: -3; */

    /*?  filas */
        /* grid-row-start: 2; */
        /* grid-row-end: 9; */

    /*? una forma mas corta */
        /* grid-column: 1 / -2; */
        /* grid-row: 2 / 4; */

    /*? forma aun mas corta
            Primer Parametro: grid-row-start
            Segundo Parametro: grid-column-start
            Tercer Parametro: grid-row-end
            Cuarto Parametro: grid-column-and */
        /* grid-area: 2 / 1 / 4 / -2; */

    /*? Span */
    /* lo que hace span es indicar cuantas casillas queremos ocupar */
    grid-column: span 3;
    grid-row: 3 / span 2;
}